.main-button-background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: linear-gradient(
    119deg,
    rgba(247, 111, 236, 1) 0%,
    rgba(241, 206, 242, 1) 50%,
    rgba(181, 38, 152, 1) 90%
  );
  background-size: 200% 200%;
  animation: gradientAnimation 2s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.main-button {
  position: relative;

  border-radius: 16px;
  padding: 10px 20px;
  width: 100%;
  font-weight: 800;
  z-index: 2;
}
